$body-bg: black;
$main-color: #AFB4FF;
$txt-color: #C1EFFF;

$white: white;
$black: black;

$box-shadow: #A66CFF 0px 7px 29px 1px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
